* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
            "slnt" 0;
    text-transform: capitalize;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    cursor: pointer;
}

.boxList {
    text-align: center;
    height: 90%;
    width: 90%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 5px;
    overflow: auto;
}

.boxList-input button {
    text-align: center;
    font-size: 1.5rem;
    width: 10rem;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    border-radius: 5px;
}

.options {
    margin-top: 10px;
    margin-bottom: 10px;
}

.options button {
    margin-top: 5px;
    font-size: 1rem;
}

#taskLabel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#taskLabel input {
    width: 80%;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

#listTasks {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.task {
    margin-bottom: 10px;
    background-color: blue;
}

.tarefaConcluida {
    background-color: green;
    padding: 1rem;
    width: 60%;
    border-radius: 10px;
    margin-bottom: 5px;
}

.tarefaNaoConcluida {
    background-color: red;
    padding: 1rem;
    width: 60%;
    border-radius: 10px;
    margin-bottom: 5px;
}